In [3]:
cd C:\Users\Marco\Documents\GitHub\generali-challenge21\

C:\Users\Marco\Documents\GitHub\generali-challenge21

In [4]:
from src.utils import reduce_mem_usage
from src.utils import fetch_data, subset_data
import gc

In [5]:
gc.collect()

# Importing data
training = fetch_data("train")
test = fetch_data("test")

training = reduce_mem_usage(training)
test = reduce_mem_usage(test)

# prendo solo l'ultimo 10% dei dati non frodi --> valutare anche un random sampling
training = subset_data(training, "random", 1)

Memory usage of dataframe is 885.93 MB --> 174.74 MB (Decreased by 80.3%)
Memory usage of dataframe is 589.34 MB --> 116.17 MB (Decreased by 80.3%)

In [6]:
from sklearn.ensemble import IsolationForest

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_455,feature_456,feature_457,feature_458,feature_459,feature_460,feature_461,feature_462,feature_463,target
249764,-0.667480,-0.781738,-0.059113,-0.141602,-0.097839,-0.471436,-0.141846,-0.109985,-0.048767,-0.102966,...,0,0,0,0,0,1,0,0,0,NaN
195550,0.409668,-0.130493,-0.059113,-0.141602,-0.097839,-0.201172,-0.141846,-0.051056,-0.048767,-0.102966,...,0,0,0,0,0,1,0,0,0,NaN
241579,-0.236572,0.241577,-0.059113,-0.141602,-0.095032,-0.201172,-0.141846,-0.051056,-0.040710,-0.101074,...,0,0,0,0,0,1,0,0,0,NaN
178872,-0.451904,-0.130493,-0.059113,-0.141602,-0.092285,-0.201172,-0.141846,-0.051056,-0.032654,-0.099182,...,0,0,0,0,0,0,0,1,0,NaN
103764,-0.667480,-0.130493,-0.059113,-0.141602,-0.097839,-0.471436,-0.141846,-0.109985,-0.048767,-0.102966,...,0,0,0,0,0,1,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13502,-0.667480,-0.688477,-0.059113,-0.141602,-0.097839,-0.201172,-0.141846,-0.051056,-0.048767,-0.102966,...,0,0,0,0,0,1,0,0,0,NaN
51549,-0.667480,-0.130493,-0.059113,-0.141602,-0.097839,0.358643,-0.141846,0.007835,-0.032654,-0.099182,...,0,0,0,0,0,0,0,1,0,NaN
735,-0.667480,-0.130493,-0.059113,-0.141602,-0.086670,-0.201172,-0.141846,0.125610,-0.016556,-0.095337,...,0,0,0,0,0,1,0,0,0,0.0
16940,1.702148,-0.130493,-0.059113,-0.131348,-0.092285,0.011139,-0.131470,0.007835,-0.032654,-0.099182,...,0,0,0,0,0,0,0,0,1,0.0
123925,2.132812,-0.130493,-0.059113,-0.141602,-0.097839,1.362305,-0.141846,-0.109985,-0.048767,-0.102966,...,0,0,0,0,0,1,0,0,0,NaN

In [17]:
isolation_f = IsolationForest(contamination=.005).fit(training.drop(["target"], axis=1))

#isolation_f = IsolationForest(contamination=.005,n_estimators=100, max_samples='auto', \
#                        max_features=1.0, bootstrap=True, n_jobs=-1, random_state=42, verbose=1,behaviour="new").fit(training.drop(["target"], axis=1))

In [18]:
lbl = isolation_f.predict(test)

In [19]:
dcf = isolation_f.decision_function(test)

In [20]:
import pandas as pd
pd.DataFrame(dcf).to_csv('isolation_forest.csv')

In [21]:
submission_template = pd.DataFrame(index=range(len(test)))
submission_template['y_test_pred'] = 0

In [22]:
submission = submission_template.copy()

In [23]:
submission.sum()

y_test_pred    0
dtype: int64

In [26]:
len(dcf)

167562

In [30]:
lbl.sum()

165850

In [31]:
lbl

array([1, 1, 1, ..., 1, 1, 1])

In [32]:
dcf

array([0.12170958, 0.09465116, 0.1037342 , ..., 0.08154201, 0.12659985,
       0.10075172])

In [33]:
dcf.sum()

17466.253665076765

In [35]:
lbl= pd.DataFrame(lbl)

In [36]:
lbl.to_csv('is_forest.csv')